.test {
    color: white;
    height: 300px;
    width: 500px;
    opacity: .9; 
    animation: contact-animation .5s;    
}

.contact-box-inputs {
    display: flex;
    flex-direction: column;
}

.input1 {
    margin: 5px;
    border-style: none; 
    height: 20px;
    font-size: 15px;
}

.input2 {
    margin: 5px;
    height: 20px;
    font-size: 15px;    
}

.input3 {
    margin: 5px;
    font-size: 15px;    
}

@keyframes contact-animation {
    0% {opacity: 0;}
    100% {opacity: .9;}
}